body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  text-decoration: underline;
}

/*#divHeader {
  position:fixed;
  border:solid 1px;
  top:0px;
  left:0px;
  right:0px;
  height: 75px;
  background-color: lightskyblue;
}*/

/*#divHeader {
  position: relative;
  top: -35px;
  height: 75px;
  background-color: lightblue;
}*/

#header {
  position: sticky;
  display: flex;
  background-color: deepskyblue;
  margin-top: 0;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  justify-content: space-between;
  padding-top: 20px;
}

#header p {
  margin-top: 0;
}

#headerBtns {
}
#headerBtns:first-child {
  background: black;
}

.headerBtn {
  font-size: 16px;
  margin-right: 50px;
  background-color: deepskyblue;
  border: none;
  color: white;
  cursor: pointer;
}
.headerBtn:hover {
  font-weight: bold;
}

/*
#btnHeader1 {
  display: flex;
  margin-left: auto;
  margin-top: 0;
}
*/

form {
  text-align: left;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgrey;
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.listStar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.starSymbol {
}
.userInfo {
  margin: 8px 0;
}
.list:nth-child(2n) {
  background-color: lightgrey;
}

.btnList {
  margin-left: 10px;
  background-color: rgba(230, 230, 230, 0.658);
  border: 1px solid grey;
  border-radius: 10px;
}
.btnList:hover {
  cursor: pointer;
}
.options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iconText {
  padding-left: 10px;
}

.popupReviewContainer {
  display: flex;
  justify-content: space-around;
}

.addToiletButton {
  position: absolute;
  bottom: 0;
}

.mapButtons {
  position: absolute;
  bottom: 0;
  z-index: 999;
  width: 100%;
}
.mapButton:hover {
  cursor: pointer;
}

#menuControle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 250px;
  width: 300px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#usersPanel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 250px;
  width: 300px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}

.linkMenu {
  display: flex;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  background-color: grey;
  text-decoration: none;
  color: black;
}

.linkMenu:hover {
  background-color: #00bfff;
}

.divMenu {
  display: flex;
  border: 1px solid black;
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.slider {
  width: 50px;
  height: 50px;
}
